





<div class="outer">
    
    <div class="container">
        <div class="row">
                <div class="panel border bg-white">
                    <div >
                        <h2 class="">
                            <span class="line">{{'Create New Password'|translate}}</span>
                        </h2>
                    </div>
                 <div class="panel-body">
                    <form [formGroup]="resetPasswordFrom" (ngSubmit)="onReste()">  
                      
                        
                        <div class="form-group p-3">
                            <div class="input-field" [class.error]="resetPasswordFrom.controls['password'].dirty && resetPasswordFrom.hasError('required', 'password')">
                                <span class="fa fa-user p-2"></span>
                                <input formControlName="password" type="{{ type }}" placeholder="New Password">
                            </div>
                            <small *ngIf="resetPasswordFrom.controls['password'].dirty && resetPasswordFrom.hasError('required', 'password')" class="text-danger">{{ '*New Password is required' | translate }}</small>
                        </div>
                        <div class="form-group p-3">
                            <div class="input-field" [class.error]="resetPasswordFrom.controls['confirmPassword'].dirty && resetPasswordFrom.hasError('required', 'confirmPassword')">
                                <span class="fa fa-user p-2"></span>
                                <input formControlName="confirmPassword" type="{{ type }}" placeholder="Confirm Password">
                            </div>
                            <small *ngIf="resetPasswordFrom.controls['confirmPassword'].dirty && resetPasswordFrom.hasError('required', 'confirmPassword')" class="text-danger">{{ '*confirm Password is required' | translate }}</small>
                            <small *ngIf="resetPasswordFrom.hasError('confirmPasswordvalidator', 'confirmPassword')" class="text-danger">{{ '*Password doesn\'t match' | translate }}</small>
                        </div>
                       

                        
                          <button (click)="onReste()" type="submit" class="btn btn-primary btn-block mt-4 w-100 btn-login">{{ 'Reste' | translate }}</button>
                            
                    </form>
                </div>
                   

                
            </div>
        </div>
    </div>
</div>







