
/* 
Orange Primary : #E98300
Blue Fonce Secondary : #2E4957
tertiary green : #198754
tertiary blue cyan: #A4D4E6
tertiary bluegreen: #167A87
reserved tritiary : #04215D
*/
.outer {
    background-color: #fff;
    display: flex; /* Enables flexbox layout */
    align-items: center; /* Centers content vertically */
    height: 100vh; /* Sets the height to 100% of the viewport height */
    font-family: 'Avenir', sans-serif; /* Applies the font */
    background-repeat: no-repeat;
    background-size: 50%;
    background-image: url(/assets/background/forgetpassword.png); 
    /* background-image: url(/assets/background/lightbulb.png); */
  
  }
  
  
  
  
   
  /**/
  /**/
  /**/
  /**/
  /*loder4 TE*/
  
  
  .loadeer {
    --color: #E98300;
    --width: 80px; /* Adjust width for the longer span */
    --height: 19px; /* Adjust height for the span */
    position: relative;
    width: calc(var(--width) * 1.5);
    height: calc(var(--height) * 3 + 20px); 
    margin: 50px auto; /* Centering the loader */
  }
  
  .loadeer span {
    position: absolute;
    background-color: var(--color);
    border-radius: 10px; /* Rounded ends */
    animation: loader-animation 1.5s infinite ease-in-out;
  }
  
  .loadeer span:nth-child(1) {
    width: var(--width);
    height: var(--height);
    top: 0;
    left: 30px; /* Adjust to center */
    animation-delay: 0ms;
  }
  
  .loadeer span:nth-child(2) {
    width: var(--width); /* Shorter span */
    height: var(--height);
    top: calc(var(--height) + 4px); /* the second row */
    left: 0;
    animation-delay: 150ms;
  }
  
  .loadeer span:nth-child(3) {
    width: var(--width); /* Longer span */
    height: var(--height);
    top: calc(var(--height) * 2 + 8px); /* the third row */
    left: 18px; /* Adjust to center */
    animation-delay: 300ms;
  }
  
  @keyframes loader-animation {
    0%, 100% {
      transform: translateX(0);
      opacity: 1;
    }
    50% {
      transform: translateX(20px);
      opacity: 0.6;
      
  }
  }
  
  .loadeer .text {
    position: absolute;
    top: -40px;
    margin-bottom: 10px ;
  
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: lowercase;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.2px;
  }
  
  .loadeer .text::before,
  .loadeer .text::after {
    content: attr(data-text);
  }
  
  .loadeer .text::before {
    color: var(--text-color);
  }
  
  .loadeer .text::after {
   /* color: var(--front-color-in);*/
  
    color: #E98300;
    animation: text-animation76 3.6s ease infinite;
    position: absolute;
    left: 0;
  }
  
  
  /* Set a fixed height for all div elements */
  
  
  
  
  
  
  
  .panel {
    border: 1px solid #ccc; /* Add border */
    border-radius: 8px; /* Add border radius */
    background-color: #fff; /* Set background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow */
    padding: 20px;
    width: 100%;
    max-width: 500px; /* Adjust the width as needed */
    margin: 20px; /* Add margin */
  }
  
  
  
  
  .login-title{
  
  
      color: #ffffff; 
      margin: 0;
  
  
  }
  
  
  
  
  
  /* Style the scan button */
  .btn-scan{
  
      background-color: #E98300; /* Green background */
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 8px;
      transition-duration: 0.4s;
      position: relative;
      z-index: 1;
      overflow: hidden;
  
  }
  
  
  
    /* Change background color on hover */
    .btn-scan:hover {
      background-color: #E98300; /* Darker green on hover */
    }
      
    .btn-scan::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 100%;
      height: 228%;
      width: 128%;
      background-color: #04215D;
      border-radius: 50%;
      z-index: -1;
      transition: all 0.6s ease;
    }
  
    .btn-scan:hover::before{
      top: -50%;
      left: -10%;
    }
  
  
  
  
    /* button{
      background-color: transparent;
      color: #E98300;
      padding: 13px 36px;
      border: 2px solid #E98300;
      border-radius: 8px;
      position: relative;
      z-index: 1;
      overflow: hidden;
      transition: color 0.5s;
  }
  
  button:hover{
      color: white;
  
  }
  
  button::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 100%;
      height: 228%;
      width: 128%;
      background-color: #04215D;
      border-radius: 50%;
      z-index: -1;
      transition: all 0.6s ease;
  }
  
  button:hover::before{
      top: -50%;
      left: -10%;
  } */
  
  div {
    text-align: center; /* Center the text horizontally */
  }
  
  h2 {
    font-size: 60px; /* Set font size to 60px */
    color: #616A6B; /* Set text color to a shade of gray */
    font-weight: bold; /* Make text bold */
    text-transform: uppercase; /* Convert text to uppercase */
    letter-spacing: 2px; /* Add some letter spacing */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a text shadow */
  }
  
  
  /* Style the Login button */
  .btn-login {
      background-color: #E98300; 
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      position: relative;
      cursor: pointer;
      border-radius: 8px;
      transition-duration: 0.4s;
      width: 100%; 
      margin-top: 20px; 
      z-index: 1;
      overflow: hidden;
  
    }
    
    /* Change background color on hover */
    .btn-login:hover {
      background-color: #E98300; /* Darker green on hover */
    }
    
  
    .btn-login::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 100%;
      height: 228%;
      width: 128%;
      background-color: #04215D;
      border-radius: 50%;
      z-index: -1;
      transition: all 0.6s ease;
  }
  
  .btn-login:hover::before{
      top: -50%;
      left: -10%;
  }
  
  h6{
    margin: 10px;
    position: static;
  }
  
  
    /* Style the text and link below the Login button */
    .text-below-button {
  
      width: 100%; /* Make the width the same as other divs */
  
      margin-top: 20px; /* Adjust spacing from the button */
      font-size: 16px;
      color: #333; /* Dark text color */
    }
    
    .text-below-button a {
      font-weight: bold;
  
      color: #E98300; /* Blue color for the link */
      text-decoration: none;
      margin-left: 5px; /* Add space between text and link */
    }
    
    .text-below-button a:hover {
      color: #04215D; /* Darker blue on hover */
  
      text-decoration: none; /* Underline the link on hover */
    }
    
  
  
  
  
  
  /* Style the Forgot Password link */
  .forgot-password-link {
    font-weight: bold;
    color: #E98300; 
    cursor: pointer;
    transition: color 0.3s ease; 
    text-decoration: none; /* no line under the link on hover */
  
  }
  
  .forgot-password-link:hover {
    color: #04215D;
    text-decoration: none; 
  
  
  }
  
  
  .modal-content-forgot {
    background-color: #fff; 
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  }
  
  /* Style the modal close button */
  .close-modal-btn {
    font-size: 20px;
    color: #6c7d74; 
    cursor: pointer;
  }
  
  .close-modal-btn:hover {
    color: #333; /* Darker color on hover */
  }
  
  
  
  .panel-heading{
      text-align: center;
      margin-bottom: 10px;
  }
  
  a:hover{
      text-decoration: none;
  
  }
  .form-inline label{
      padding-left: 10px;
      margin: 0 ;
      cursor: pointer;
  }
  
  .modal-header{
    border-bottom: none;
    padding: 10px;
  }
  
  .modal-footer{
    border-top: none;
    padding: 10px;
  }
  .btn{
      margin: 2px ;
      border-radius: 8px;
    }
  
  
  .btn-send{
    background-color: #E98300;
    border : none;
    position: relative;
    z-index: 1;
    overflow: hidden;
    
  }
   /* Change background color on hover */
   .btn-send:hover {
    background-color: #E98300; /* Darker green on hover */
  }
  
  
  .btn-send::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 100%;
    height: 228%;
    width: 128%;
    background-color: #04215D;
    border-radius: 50%;
    z-index: -1;
    transition: all 0.6s ease;
   
  }
  
  .btn-send:hover::before{
    top: -50%;
    left: -10%;
  }
  
  
  .panel{
      min-height: 380px;
      box-shadow: 20px 20px 80px rgb(218, 218, 218);
      border-radius: 8px ;
      
  }
  
  
  .title-container {
    background-color: #E98300;
  /*  color: rgb(255, 255, 255);*/
    padding: 20px;
    margin: 20px;
    text-align: center;
      font-family: 'Avenir', sans-serif;
  
    font-weight: bold;
    font-size: 1.5em;
    position: relative;
    border-radius:8px ;
    -webkit-border-radius:8px ;
    -moz-border-radius:8px ;
    -ms-border-radius:8px ;
    -o-border-radius:8px ;
  }
  
  
  .title-container .line {
    display: block;
    width: 100%;
    position: relative;
  }
  
  
  .title-container .line::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: -8%;
    width: 68.5%;
    
  }
  
  .title-container .line::after {
    content: '';
    display: block;
    height: 5px;
    background-color: #ffffff;
    position: absolute;
   
    bottom: 0;
    right: -2.7%;
    width: 62.9%;
  }
  
  .line {
       padding: 10px;
       margin: 10px;
       justify-content: center;
  
  }
  
  
  
  
  .modal-body{
    padding: 5px 10px;
  }
  
  
  .input-field{
      border-radius: 8px;
      padding: 5px; 
      margin: 5px 0 ;
      display: flex;
      align-items:center ;
      cursor: pointer;
      border: 1px solid #ddd;
      color:#E98300;
  }
  
  /* Add margin to the input fields */
  
  
  /* Style the input field icons */
  .input-field .fa {
    padding: 10px;
  }
  
  
  .input-field.error{
      border: 1px solid #BC1F00;
      color :#BC1F00;
  
  }
  input:disabled{
    background-color: transparent;
  
  }
  
  
  input[type='text'],
  input[type='password']{
   
  
      border: none;
      outline:none;
      box-shadow: none;
      width: 100%;
  
  }
  
  .fa-eye-slash.btn{
      border: none;
      outline:none;
      box-shadow: none;
      
     
  }
  img{
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
      position: relative;
  
  }
  .bordert{
      border-top: 1px solid #aaa;
      position: relative;
      
  }
  .bordert::after{
      content: "Or connect with";
      position: absolute;
      top:-15px;
      left: 30%;
      background-color: #fff;
      padding: 0 8px;
  
  }
  
  
  
  
  
  
  
  
  
  
    /* signup.component.css */
  
  /* Style the p-floatLabel container */
  .panel-body {
    padding: 10px 20px 0;
    border-radius: 8px;
     /*margin-top: 20px; Add margin at the top */
    /*margin-bottom: 20px;  Add margin at the bottom */
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .row{
    margin: 50px;
    
    justify-content: end;
  }
  
    
  :host ::ng-deep .p-radiobutton  
      .p-radiobutton-box.p-highlight,  
  :host ::ng-deep .p-radiobutton  
      .p-radiobutton-box.p-highlight:hover { 
        
      background-color: #E98300; 
      border-color: #E98300; 
      box-shadow: none; 
  } 
  
  :host ::ng-deep .p-radiobutton  
      .p-radiobutton-box:not(.p-disabled) 
      :not(.p-highlight):hover { 
      border-color: #E98300; 
  } 
    
  :host ::ng-deep .p-radiobutton .p-radiobutton-box {
    border-color: #E98300; 
  }
  
  
  
  
  
  .panel-heading.form-group {
    margin: 0 10px 0;
    padding: 0 10px 0; /* Remove default padding */
  }
  
  
  .panel-heading.form-group .form-select {
    width: 30%;
    
    padding: 10px; /* Add padding */
    font-size: 1rem;
    line-height: 1;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 8px;
    box-shadow: none;
  }
  
  /* Style for the dropdown arrow */
  .panel-heading.form-group .form-select::after {
    left: 10px; /* Adjust the position of the arrow */
  }
  
  /* Style for the select container */
  .panel-heading.form-group ul.navbar-nav {
    border-radius: 8px;
    margin: 5px 0; /* Add margin */
    padding: 0; /* Remove default padding */
  }
  
  
  .panel-heading.form-group ul.navbar-nav .nav-item {
    border-radius: 8px;
   
    list-style: none; /* Remove default list style */
  }
  
  
  
  
  
  
  
  
  .custom-dropdown {
    position: relative;
    display: inline-block;
    width: 120px;
    cursor: pointer;
  }
  
  .selected-option {
    padding: 8px;
    border: 1px solid #ccc;
    background: #fff;
    display: flex-end;
    align-items: center;
    border-radius: 8px;
  
  }
  
  .selected-option .flag-icon {
    margin-right: 8px;
    width: 20px;
    height: 20px;
  }
  
  .dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    display: none;
    z-index: 1000;
    border-radius: 8px;
  
  }
  
  .dropdown-options.show {
    display: block;
  }
  
  .dropdown-options .dropdown-option {
    padding: 8px;
    cursor: pointer;
  
    display: flex;
    align-items: center;
  }
  
  .dropdown-options .dropdown-option:hover {
    background: #f1f1f1;
  }
  
  .dropdown-options .flag-icon {
    margin-right: 8px;
    width: 20px;
    height: 20px;
  }
  
  
  
  
  
  
  /* ------------------------------------------ */
  
  
  
  .switch {
    /* switch */
    --switch-width: 46px;
    --switch-height: 24px;
    --switch-bg: rgb(131, 131, 131);
    --switch-checked-bg: rgb(233, 113, 0);
    --switch-offset: calc((var(--switch-height) - var(--circle-diameter)) / 2);
    --switch-transition: all .2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
    /* circle */
    --circle-diameter: 18px;
    --circle-bg: #fff;
    --circle-shadow: 1px 1px 2px rgba(146, 146, 146, 0.45);
    --circle-checked-shadow: -1px 1px 2px rgba(163, 163, 163, 0.45);
    --circle-transition: var(--switch-transition);
    /* icon */
    --icon-transition: all .2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
    --icon-cross-color: var(--switch-bg);
    --icon-cross-size: 6px;
    --icon-checkmark-color: var(--switch-checked-bg);
    --icon-checkmark-size: 10px;
    /* effect line */
    --effect-width: calc(var(--circle-diameter) / 2);
    --effect-height: calc(var(--effect-width) / 2 - 1px);
    --effect-bg: var(--circle-bg);
    --effect-border-radius: 1px;
    --effect-transition: all .2s ease-in-out;
  
  }
  
  .switch input {
    display: none;
  }
  
  .switch {
    display: inline-block;
    margin: 0;
   
  }
  
  .switch svg {
    -webkit-transition: var(--icon-transition);
    -o-transition: var(--icon-transition);
    transition: var(--icon-transition);
    position: absolute;
    height: auto;
  }
  
  .switch .checkmark {
    width: var(--icon-checkmark-size);
    color: var(--icon-checkmark-color);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  
  .switch .cross {
    width: var(--icon-cross-size);
    color: var(--icon-cross-color);
  }
  
  .slider {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-transition: var(--switch-transition);
    -o-transition: var(--switch-transition);
    transition: var(--switch-transition);
    cursor: pointer;
  }
  
  .circle {
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    background: var(--circle-bg);
    border-radius: inherit;
    -webkit-box-shadow: var(--circle-shadow);
    box-shadow: var(--circle-shadow);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: var(--circle-transition);
    -o-transition: var(--circle-transition);
    transition: var(--circle-transition);
    z-index: 1;
    position: absolute;
    left: var(--switch-offset);
  }
  
  .slider::before {
    content: "";
    position: absolute;
    width: var(--effect-width);
    height: var(--effect-height);
    left: calc(var(--switch-offset) + (var(--effect-width) / 2));
    background: var(--effect-bg);
    border-radius: var(--effect-border-radius);
    -webkit-transition: var(--effect-transition);
    -o-transition: var(--effect-transition);
    transition: var(--effect-transition);
  }
  
  /* actions */
  
  .switch input:checked+.slider {
    background: var(--switch-checked-bg);
  }
  
  .switch input:checked+.slider .checkmark {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  
  .switch input:checked+.slider .cross {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  
  .switch input:checked+.slider::before {
    left: calc(100% - var(--effect-width) - (var(--effect-width) / 2) - var(--switch-offset));
  }
  
  .switch input:checked+.slider .circle {
    left: calc(100% - var(--circle-diameter) - var(--switch-offset));
    -webkit-box-shadow: var(--circle-checked-shadow);
    box-shadow: var(--circle-checked-shadow);
  }
  
  
  /* ------------------------------------------ */
  
  
  
  
  
  
  
  
  
  
  
  .toggle {
      --width: 60px;
      --height: calc(var(--width) / 2);
      --border-radius: calc(var(--height) / 2);
    
      display: inline-block;
      cursor: pointer;
    }
    
    .toggle__input {
      display: none;
    }
    
    .toggle__fill {
      position: relative;
      width: var(--width);
      height: var(--height);
      border-radius: var(--border-radius);
      background: #dddddd;
      transition: background 0.2s;
    }
    
    .toggle__input:checked ~ .toggle__fill {
      background: #da6110;
    }
    
    .toggle__fill::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: var(--height);
      width: var(--height);
      background: #ffffff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
      border-radius: var(--border-radius);
      transition: transform 0.2s;
    }
    
    .toggle__input:checked ~ .toggle__fill::after {
      transform: translateX(var(--height));
    }
  
    
  
    
   .btn-close {
      font-size: 1rem;
      border:none;
      color: #999; 
      position: absolute;
      top: 10px ;
      right: 20px;
    }
    
  
   
    
  
    
  
    .spinner-container {
      display: flex;
      justify-content: center; /* Center horizontally */
      align-items: center; /* Center vertically */
      height: 100%; /* Ensure the container takes up full height */
  }
  .bordert {
    border-top: 1px solid #aaa;
    position: relative
  }
  
  .bordert:after {
    content: "or connect with";
    position: absolute;
    top: -13px;
    left: 33%;
    background-color: #fff;
    padding: 0px 8px
  }
  