   
<div class="card flex justify-content-center">
	<p-card >
		<div style="text-align: center;   font-size: 45px; font-weight: bold;"> 
			<strong>Roles</strong>
		</div>
		<div class="card-body">
		<div
			style="display: flex; justify-content: space-between; align-items: center;margin: 5px;">
			<div class="form-outline" style="flex: 1;">

				</div>

			<div class="head-user-avatar" [cdkMenuTriggerFor]="userOverlay">
				<div class="dropdown-text-end">
					<a class="btn btn-outline-success" aria-expanded="false"
						(click)="toggleDropdown()">
						List of columns
						<i *ngIf="!isRoleOverlayOpen" class="fa fa-angle-left"></i>
						<i *ngIf="isRoleOverlayOpen" class="fa fa-angle-down"></i>
					</a>
				</div>
			</div>
			<div class="head-user-avatar" [cdkMenuTriggerFor]="importexport">
				<div class="dropdown-text-end">
					<a class="btn btn-outline-success" aria-expanded="false"
						(click)="importexportopen()">
						<i class="fa fa-download" aria-hidden="true"></i>
						<i *ngIf="!isimportexportopen" class="fa fa-angle-left"></i>
						<i *ngIf="isimportexportopen" class="fa fa-angle-down"></i>
					</a>
				</div>
			</div>
			<button class="btn btn-outline-success-" pButton type="button"
				label="Add New Role" icon="fa fa-plus" (click)="openModel()"
				style="margin: 0 10px;"></button>
		</div>

   

			<p-table
				#dt1

				[value]="Roles"
				[paginator]="true"
				[rows]="5"
				dataKey="id"
				[loading]="loading"

				responsiveLayout="stack" 
				styleClass="p-datatable-striped" 

				[resizableColumns]="true"
				[first]="first"
				[showCurrentPageReport]="true"
				[tableStyle]="{ 'min-width': '60rem' }"
				currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
				(onPage)="pageChange($event)"
				[rowsPerPageOptions]="[3, 5, 10, 20]"
				[globalFilterFields]="['Role', 'Responsible', 'Replacement', 'Departement User','Plant','Area','Type']"

				>

				<ng-template pTemplate="caption">
					<div class="flex">
						<p-button label="Clear" [outlined]="true" icon="fa fa-filter" (click)="clear(dt1)" />
						<span class="p-input-icon-left ml-auto">
						  <i class="fa fa-search"></i>
							<input pInputText type="text" placeholder="Search" [(ngModel)]="searchText" (ngModelChange)="globalSearch()" />
						</span> 
						</div>
				</ng-template>	

				<ng-template pTemplate="header" let-columns>
					<tr>
						<th style="width:20%">
							<div class="flex align-items-center">
								Role
								<p-columnFilter type="text" field="Role" display="menu"></p-columnFilter>
							</div>
						</th>
						<!-- <th style="width:20%" *ngIf="showColumns.name_Role">Name Role</th> -->
						
						<th style="width:20%" *ngIf="showColumns.Date_Create">Create Date</th>
						<th style="width:20%" *ngIf="showColumns.Date_Update">Update Date</th>
						<th style="width:20%" *ngIf="showColumns.Date_Delete">Delete Date</th>
						<th style="width:7%">Action</th>
					</tr>
				</ng-template>
				<ng-template pTemplate="body" let-Role >
					<tr [ngClass]="{'deactivated-row': Role.commenterDelete}">
						<td *ngIf="showColumns.Name_Role">
							<span class="ml-1 vertical-align-middle">{{ Role.name_Role}}</span>
						</td>
            <td *ngIf="showColumns.Date_Create">{{ Role.date_Create  !== '0001-01-01T00:00:00' ? (Role.date_Create  | date:'dd-MM-yyyy / HH:mm:ss') : '  ' }}</td>
            <td *ngIf="showColumns.Date_Update">{{ Role.date_Update !== '0001-01-01T00:00:00' ? (Role.date_Update | date:'dd-MM-yyyy / HH:mm:ss') : '  ' }}</td>
            <td *ngIf="showColumns.Date_Delete">{{ Role.date_delete !== '0001-01-01T00:00:00' ? (Role.date_delete | date:'dd-MM-yyyy / HH:mm:ss') : '  ' }}</td>


					
			<td>
				<button pButton class="icon view" icon="fa fa-eye"
					(click)="selectView(Role.id); openModelView(Role.id)"[pTooltip]="'View Role'" severity="secondary" tooltipPosition="top" >		
				</button>
				<button pButton class="icon edit" type="button" icon="fa fa-pencil-alt"
					(click)="selectGetRolebyid(Role.id); openModelRole(Role.id)"
					[disabled]="Role.commenterDelete"[pTooltip]="'Edit Role'" severity="secondary" tooltipPosition="top" >									
				</button>
				<button pButton class="icon delete" type="button" icon="fa fa-ban"
					 (click)="DeleteRole(Role.id)"
					 [disabled]="Role.commenterDelete"
					 [pTooltip]="'Disable Role'" severity="secondary"
					 tooltipPosition="top" >									
				</button>
			</td>
					</tr>
				</ng-template>
				<ng-template pTemplate="emptymessage">
					<tr>
						<td colspan="7">No Role found.</td>
					</tr>
				</ng-template>
		
				
			</p-table>
		</div>
	</p-card>


    
    
<p-dialog header="Create New Role" [(visible)]="displayModal" [modal]="true" [style]="{width: '40vw'}">
  <form [formGroup]="RoleForm">
    <div class="p-fluid">
        <div class="p-field">
              <label for="">Name Role <span style="color:red; font-weight: bold; ">*</span> </label>
              <input pInputText formControlName="name_Role" type="text"  placeholder="Name Role">
        </div>

		<div class="p-dialog-footer">
            <button pButton  (click)="SaveRole()" label="Save" type="button" style=" border-radius: 8px;" class="btn  btn-block mt-1 w-1  btn-save"></button>
            <button pButton   label="Clear" type="button"  style=" border-radius: 8px;" class="  mt-1 w-1 btn-close-clear"></button>
            <button pButton  (click)="displayModal=false" label="Close" type="button"  style=" border-radius: 8px;" class=" btn btn-danger mt-1 w-1 btn-close-down"></button>
        </div>
    </div>
  </form>
    
  
  

</p-dialog>
    
<p-dialog header="Update Role" [(visible)]="displayUpdateModal" [modal]="true" [style]="{width: '40vw'}">
      <form [formGroup]="UpdateRole">
        <div class="p-fluid">
          <div class="p-field">
            <label for="">Name Role <span style="color:red; font-weight: bold; ">*</span> </label>
              <input pInputText formControlName="name_Role" type="text"  placeholder="Name Role">
           </div>
         
		   <div class="p-dialog-footer">
            <button pButton  (click)="updateRole(selectedRoleId, UpdateRole.value)" label="update" type="button" style=" border-radius: 8px;" class="btn  btn-block mt-1 w-1  btn-update"></button>
            <button pButton  label="Clear" type="button"  style=" border-radius: 8px;" class="  mt-1 w-1 btn-close-clear"></button>
            <button pButton  (click)="displayUpdateModal=false" label="Close" type="button"  style=" border-radius: 8px;" class=" btn btn-danger mt-1 w-1 btn-close-down"></button>
        </div>
        
        </div>
    </form>
   
</p-dialog> 


    

<p-dialog header="View Role" [(visible)]="displayViewModal" [modal]="true" [style]="{width: '40vw'}">
      <form [formGroup]="ViewRole">
		<div class="p-fluid">
			<div class="p-field" *ngIf="ViewRole.get('commenterDelete')?.value !== null">
				<label for="commenterDelete" style="font-size: 20px;">Delete Reason</label>
				<ng-container *ngIf="ViewRole.get('commenterDelete')?.value.length > 20">
				  <textarea pInputTextarea formControlName="commenterDelete" id="commenterDelete" placeholder="Status" readonly style="font-weight: bold; font-size: 30px; color: white; background-color: #BC1F00;"></textarea>
				</ng-container>
				<ng-container *ngIf="ViewRole.get('commenterDelete')?.value.length <= 20">
				  <input pInputText formControlName="commenterDelete" id="commenterDelete" type="text"
				   placeholder="Status" readonly style="font-weight: bold; font-size: 30px; color: white; background-color: #BC1F00;" />
				</ng-container>
			</div>
			<div class="p-field">
				<div>
              <label for="name_Role">Name Role</label>
              <input pInputText formControlName="name_Role" type="text" placeholder="name_Role" readonly>
            </div>
          </div>
        </div>
		<div class="p-dialog-footer">
			<button pButton  (click)="displayViewModal=false" label="Close" type="button"  style=" border-radius: 8px;" class=" btn btn-danger mt-1 w-1 btn-close-down"></button>

		  </div>
      </form>
</p-dialog>

<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-"></script>
<script src="bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/2.0.5/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.5/js/dataTables.bootstrap5.js"></script>
<script > $(document).ready(function() {
$('#example').DataTable();
});
</script>


<script >

$(document).ready(function() {
    $('#ingredients').multiselect();
});

</script>
    
    
    
    
<ng-template #userOverlay>
<div class="overlay overlay-user overlay-fall" cdkMenu>
<ul>
  <li>
    <label>
      <input type="checkbox" [(ngModel)]="showColumns.Name_Role" disabled>
      Name Role
    </label>
  </li>
 
</ul>
</div>
</ng-template>
    
<ng-template #importexport>
  <div class="overlay overlay-user overlay-fall" cdkMenu>
      <ul>
          <li (click)="Import()">Import</li>
          <li (click)="Export()">Export</li>
          <li (click)="downloadExcel()">Download Template</li>
      </ul>
  </div>
</ng-template>
  
  
  
  